.footer {
  .container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    padding-top: 60px;
    padding-bottom: 60px;
  }

  background-color: var(--main-background-color);

  .social-media__link {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: #ffffff;
    }
  }

  address {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
}

.footer-address__container {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 165px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__logo {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  display: block;
  color: #ffffff;

  margin-bottom: 20px;
}

.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;

  display: block;
  margin-bottom: 9px;
}

.footer-contacts__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__social-media {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    padding-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
    margin-right: 93px;
  }
}

.social-media__slogan {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.footer__subscribe-form {
  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe-form__slogan {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.subscribe-form__email-input {
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
    width: 450px;
  }
  @media screen and (max-width: 479px) {
    width: 100%;
  }

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: var(--main-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-form__email-input {
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-form__button {
  display: inline-flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.subscribe-form__icon {
  fill: currentColor;
  margin-left: 10px;
}
