.header {
  // .container {
  //   display: flex;
  //   align-items: center;
  // }

  border-bottom: 1px solid #ececec;
}

// .navigation {
//   display: flex;
//   align-items: center;
// }

.header__logo {
  color: #000000;

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

// .navigation__list {
//   display: flex;
// }

// .navigation__item {
//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--active {
    position: relative;
    color: var(--accent-color);

    // &::after {
    //   position: absolute;
    //   bottom: -1px;
    //   left: 0;
    //   right: 0;
    //   content: "";

    //   background-color: var(--accent-color);
    //   border: 2px solid var(--accent-color);
    //   border-radius: 2px;
    // }
  }
}

// .header-contacts__list {
//   display: flex;
//   margin-left: auto;
// }

.header-contacts__item {
  &:first-child {
    margin-right: 50px;
  }
}

.header-contacts__link {
  // display: flex;
  // align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contacts__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;

  &--envelope {
    width: 16px;
    height: 12px;
  }

  &--smartphone {
    width: 10px;
    height: 16px;
  }
}
