.our-team__section {
  background-color: #f5f4fa;

  @media screen and (max-width: 1199px) {
    padding-top: var(--mobile-section-padding);
    padding-bottom: var(--mobile-section-padding);
  }

  @media screen and (min-width: 1200px) {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (max-width: 479px) {
      width: 100%;
    }

    @media screen and (min-width: 480px) {
      width: 480px;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
    }

    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
}

.our-team__title {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.our-team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.our-team__item {
  @media screen and (max-width: 767px) {
    max-width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    flex-basis: calc(100% / 4 - 30px);
  }

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.our-team__photo {
  margin-bottom: 30px;
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);

  margin-bottom: 10px;
}

.our-team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  margin-bottom: 16px;
}
