.footer > .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: var(--main-background-color);
}

.footer-logo {
  display: block;
  color: #ffffff;

  margin-bottom: 20px;
}

.footer-address-container {
  margin-right: 70px;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;

  display: block;
  margin-bottom: 9px;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-link {
  font-style: normal;
}

.footer-contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

.footer-social-links-container {
  padding-top: 12px;
  margin-right: 93px;
}

.footer-social-links-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.footer .social-links-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer .social-links-link:hover,
.social-links-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.footer-form-container {
  padding-top: 12px;
}

.footer-subscribe-slogan {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.footer-subscribe-field {
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: var(--main-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-subscribe-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-button {
  display: inline-flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscribe-icon {
  fill: currentColor;
  margin-left: 10px;
}
