// OLD
// .container {
//   width: 1200px;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin: 0 auto;
// }

.container {
  // outline: tomato 1px solid;
  margin: 0 auto;

  @media screen and (max-width: 479px) {
    max-width: 100%;
  }

  @media screen and (min-width: 480px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    max-width: 738px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1170px;
  }
}
