:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #2f303a;
  --svg-links-color: #afb1b8;
  --section-padding: 94px;
}
